* {
  background-color: rgb(203, 235, 203);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.imagem {
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
}

button {
  padding: 15px;
  background-color: #34c42f;
  color: #130702;
  border-color: #130702;
  border-style: dotted;
  font-size: 18px;
  font-weight: 600;
}

.textoFrase {
  font-style: italic;
  color: #34c42f;
  text-align: center;
}
